[submodule "php/phpstorm-settings"]
	path = php/phpstorm-settings
	url = https://github.com/knpuniversity/phpstorm-settings.git
[submodule "php/symfony-coding-standard"]
	path = php/symfony-coding-standard
	url = https://github.com/djoos/Symfony-coding-standard.git
[submodule "cursors/capitaine-cursors"]
	path = themes/cursors/capitaine-cursors
	url = https://github.com/keeferrourke/capitaine-cursors.git
[submodule "fonts/FiraCode"]
	path = fonts/FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "themes/nord-dircolors"]
	path = themes/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
